/* --대규모 수장공사 문의-- */
.bigBuild_consult {
  padding: 50px 300px;
}

/* --h1-- */
/* _인덱스 */
#index_bigBuild_consult h1 {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}

#index_bigBuild_consult h1 em {
  font-weight: 500;
}

/* _서브페이지 */
#bigBuild_consult h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 100;
}

/* --서브페이지 hr-- */
#bigBuild_consult .bigBuild_consult {
  border-bottom: 1px solid #e8e8ed;
}

.bigBuild_consult.index .input_box {
  text-align: center;
}

.bigBuild_consult .input_box input {
  display: block;
  width: 100%;
  padding: 15px;
}

/* _개인정보수집동의 */
/* __인덱스 */
.bigBuild_consult.index input[id="personal_data2"] {
  display: none;
}

.bigBuild_consult.index input[id="personal_data2"] + label {
  color: #ffffff !important;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

.bigBuild_consult.index input[id="personal_data2"] + label::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 0;
}

.bigBuild_consult.index input[id="personal_data2"]:checked + label::before {
  background-color: #111111 !important;
  border: 1px solid #ffffff;
}

/* __서브페이지 */
.bigBuild_consult input[id="personal_data2"] {
  display: none;
}

.bigBuild_consult input[id="personal_data2"] + label {
  color: #111111;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

.bigBuild_consult input[id="personal_data2"] + label::before {
  content: "";
  width: 16px;
  height: 16px;
  /* background-color: #111111; */
  border: 1px solid #9b9b9b;
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 0;
}

.bigBuild_consult input[id="personal_data2"]:checked + label::before {
  background-color: #3f3fff;
  border: 1px solid #ffffff;
}

/* _더보기 */
/* __인덱스 */
.bigBuild_consult.index span {
  float: right;
  color: #ffffff !important;
  text-decoration: underline;
  cursor: pointer;
}

/* __서브페이지 */
.bigBuild_consult span {
  float: right;
  color: #111111;
  text-decoration: underline;
  cursor: pointer;
}

/* _버튼 */
.bigBuild_consult .btn {
}
.bigBuild_consult .btn ul {
  overflow: hidden;
}

.bigBuild_consult .btn ul li {
  width: 48%;
  height: 50px;
  /* border: 1px solid #111111; */
  float: left;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.bigBuild_consult .btn ul li {
  transition: all 0.5s ease-in-out;
}

/* __문의하기 버튼 */
.bigBuild_consult .btn ul li.confirm_btn {
  margin-right: 4%;
  border: 1px solid #ffffff;
  background-color: #ebe6ff;
}

.bigBuild_consult .btn ul li.confirm_btn:hover {
  background-color: #111111;
}

.bigBuild_consult .btn ul li.confirm_btn a {
  color: #111111;
  display: inline-block;
  padding: 1px 105px;
}

.bigBuild_consult .btn ul li.confirm_btn:hover a {
  color: #ffffff;
  display: inline-block;
  padding: 1px 105px;
}
/* __이력보기 버튼 */
.bigBuild_consult .btn ul li.btn2 {
  border: 1px solid #ffffff;
  .bigBuild_consult.index input[id="personal_data2"] {
    display: none;
  }

  .bigBuild_consult.index input[id="personal_data2"] + label {
    color: #ffffff;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
  }

  .bigBuild_consult.index input[id="personal_data2"] + label::before {
    content: "";
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 0;
  }

  .bigBuild_consult.index input[id="personal_data2"]:checked + label::before {
    background-color: #111111;
    border: 1px solid #ffffff;
  }
}

.bigBuild_consult .btn ul li.btn2 a {
  color: #ffffff;
}

.bigBuild_consult .btn ul li.btn2:hover {
  background-color: #f6f9ff;
}

.bigBuild_consult .btn ul li.btn2:hover a {
  color: #111111;
}

.test {
  /* width: 100%; */
  width: 720px;
  margin: 0 auto;
}

.bigBuild_consult .btn ul li.confirm_btn2 {
  width: 100%;
  background: #3f3fff;
}

.bigBuild_consult .btn ul li.confirm_btn2 a {
  color: #ffffff;
}

/* --aside 어사이드 -- */
.big_build_consult_aside {
  padding: 30px;
}

.big_build_consult_aside .wrap {
  padding: 20px 0;
  text-align: center;
}

.big_build_consult_aside .wrap div:nth-child(1) {
  font-size: 34px;
  font-weight: 100;
  color: #ffffff;
  margin-bottom: 10px;
}

.big_build_consult_aside .wrap div:nth-child(2) {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
}
