/* --index-- */
.build_review.index h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}
.build_review.index h1 em {
  font-weight: 500;
}
.build_review.index h1 > span {
  float: right;
  font-size: 16px;
  padding-top: 13px;
}

/* --셀렉터-- */
.build_review_selector .wrap {
  width: 560px;
  height: 50px;
}

.build_review_selector .wrap .item {
  display: inline-block;
  width: 30%;
  height: 50px;
  border: 1px solid #3f3ff3;
  margin-right: 3%;
  background-color: #ffffff;
  border-radius: 10px;
  padding-left: 20px;
  font-size: 16px;
  color: #3f3ff3;
  line-height: 50px;
  position: relative;
  cursor: pointer;
}

.build_review_selector .wrap .item img {
  width: 8px;
  height: 8px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.build_review_selector .wrap .item3 {
  margin-right: 0;
}

.build_review_selector .wrap .item .list {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
  z-index: 10;
  text-align: center;
  color: #111111;
  display: none;
}

.build_review_selector .wrap .item .list > div:hover {
  color: #ffffff;
  background-color: #3f3ff3;
}

/* _셀렉터태그 */
.build_review_selector_tag .wrap .item_place {
  background-color: #ebd6ff;
  display: inline-block;
  padding: 5px 15px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.build_review_selector_tag .wrap .item_working {
  background-color: #ebd6ff;
  display: inline-block;
  padding: 5px 15px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.build_review_selector_tag .wrap .item_area {
  background-color: #ebd6ff;
  display: inline-block;
  padding: 5px 15px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.build_review_selector_tag .wrap .item img {
  position: absolute;
  top: -5px;
  right: -8px;
  width: 20px;
  height: 20px;
}

/* --시공후기 form-- */
.build_review ul li {
  width: 32%;
  margin-right: 2%;
  float: left;
}

.build_review ul li:nth-child(3n + 0) {
  margin-right: 0;
}

.build_review ul li .img {
  overflow: hidden;
}
.build_review ul li .img:hover img {
  transform: scale(1.2);
}

.build_review ul li .img img {
  display: block;
  transition: all 0.3s ease-in-out;
  max-height: 250px;
  min-height: 250px;
}

.build_review ul li .desc {
  padding: 15px;
}

.build_review ul li .desc .tag {
  font-size: 14px;
  color: #9b9b9b;
  margin-bottom: -5px;
}

.build_review ul li .desc .tit {
  font-size: 18px;
}

.build_review ul li .desc .price {
  font-size: 20px;
  font-weight: 500;
}
.build_review ul li .desc .price .won {
  font-weight: 300;
}
