/* 미디어쿼리 삭제 */
/* _모바일 견적산출 버튼 */
.estimate_selector_wrap .m_btn {
  display: none !important;
}

/* _모바일 견적산출 후 h1 arrow */
.m_arrow {
  display: none;
}

/* _ */
.estimate_result .m_btn {
  display: none;
}

/* --aside-- */
#estimate_aside {
}

#estimate_aside .wrap {
  /* text-align: center; */
  color: #111111;
  /* font-weight: 40px; */
  padding-top: 150px;
  text-align: center;
  font-size: 50px;
  font-weight: 100;
}

#estimate_aside .wrap > div:nth-child(2) {
  font-size: 20px;
  font-weight: 400;
}

#estimate_aside .wrap > div {
}
/* ---ul li- */

/* --셀렉터 특이사항 span-- */
.area > span {
  top: 90px;
  left: 0px;
  position: relative;
  color: red !important;
  font-weight: 500;
}

/* span */
.estimate_selector_wrap span {
  color: red;
  font-size: 13px;
  font-weight: 500;
}

/* span */
.estimate_selector_wrap .wrap.area {
  position: relative;
}

.estimate_selector_wrap.floor .wrap.area span {
  font-size: 13px;
  color: red;
  font-weight: 500;
  position: absolute !important;
  top: 67px;
  left: 0;
  display: none;
}

/* 셀렉터 엑티브 */
.box_active {
  border-color: #3f3fff !important;
  color: #3f3fff !important;
}
/* 셀렉터 전체값조정 */
.estimate_selector {
  padding: 70px 0px 50px 0px;
}

.estimate_selector_wrap {
  padding: 50px;
  background-color: #ffffff;
  box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
  border-radius: 5px;
  font-size: 15px;
  /* 전체 font-size */
}

/* 박스나열 */
.estimate_selector_wrap .wrap {
  float: left;
  cursor: pointer;
  /* 커서 */
}
.estimate_selector_wrap .form {
  margin-top: 5px;
}

.estimate_selector_wrap h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 300;
}

.estimate_selector_wrap h1 em {
  font-weight: 500;
}

.estimate_selector_wrap h2 {
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}

/* --공간구분(장판 주거공간만 나오게 하기)-- */
.estimate_selector_wrap.linoleum .wrap.place {
  width: 38%;
}

.estimate_selector_wrap.linoleum .wrap.place ul li {
  float: left;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #b6b6b6;
  border: 1px solid #b6b6b6;
}

/* --공간구분-- */
/* warp 크기조정 */
.estimate_selector_wrap .wrap.place {
  width: 38%;
}

/* box 크기조정 */
.estimate_selector_wrap .wrap.place ul li {
  float: left;
  width: 49.5%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #b6b6b6;
  border: 1px solid #b6b6b6;
}

/* warp margin */
.estimate_selector_wrap .wrap.place {
  margin-right: 4.6%;
}

/* 셀렉터 border값 없애고 마진값조정 */
.estimate_selector_wrap .place .box2 {
  border-left: 0px !important;
  margin-left: -0.6%;
}

/* --면적구분-- */
/* wrap 크기조정 */
.estimate_selector_wrap .wrap.area {
  /* width: 52.2%; */
  width: 57%;
}

/* 첫번째 tabbox 크기조정 */
.estimate_selector_wrap .wrap.area ul.form li {
  float: left;
  width: 24%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #b6b6b6;
  border: 1px solid #b6b6b6;
}

/* 셀렉터 border값 없애고 마진값조정 */
.estimate_selector_wrap .area .form2,
.estimate_selector_wrap .area .form3 {
  display: inline-block;
}
/* 면적 크기*/
.estimate_selector_wrap .area .form2 {
  width: 24%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  /* color: #b6b6b6; */
  /* border: 1px solid #b6b6b6; */
  border: 1px solid red;
  color: red;

  position: relative;
}

.estimate_selector_wrap .area .form2 .cover {
  text-align: left;
  padding-left: 20px;
}
/* 방개수 크기*/
.estimate_selector_wrap .area .form3 {
  width: 24%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  /* color: #b6b6b6; */
  /* border: 1px solid #b6b6b6; */
  border: 1px solid red;
  color: red;
  position: relative;
}
.estimate_selector_wrap .area .form3 .cover {
  text-align: left;
  padding-left: 20px;
}

.estimate_selector_wrap .area .box2,
.estimate_selector_wrap .area .form2 {
  margin-right: 1.6%;
}

.estimate_selector_wrap .area .box2 {
  border-left: 0px !important;
  margin-left: -0.09% !important;
}

/* 화살표 */
.estimate_selector_wrap img {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 15px;
  right: 10px;
}

/* 면적 / 방개수 고르기 (서브)*/
.area_list {
  display: none;
  position: absolute;
  top: 39px;
  width: 100%;
  border: 1px solid #b6b6b6;
  border-top: 0px;
  background-color: #ffffff;
  height: 150px;
  overflow: auto;
  z-index: 100;
}

.area_list ul {
  z-index: 100;
  background-color: #ffffff;
}

.area_list li {
  padding-left: 20px;
  text-align: left;
  border-top: 1px solid #b6b6b6;
  color: #b6b6b6;
  z-index: 100;
}

.area_list li:nth-child(1) {
  border-top: 0px;
}

/* --*-- */
.area_list2 {
  display: none;
  position: absolute;
  top: 39px;
  width: 100%;
  border: 1px solid #b6b6b6;
  border-top: 0px;
  background-color: #ffffff;
  height: 200px;
  overflow: scroll;
}

.area_list2 ul {
}

.area_list2 li {
  padding-left: 20px;
  text-align: left;
  border-top: 1px solid #b6b6b6;
  color: #b6b6b6;
}

.area_list2 li:nth-child(1) {
  border-top: 0px;
}

/* --배란다확장여부-- */
/* warp 크기조정 */
.estimate_selector_wrap .wrap.bananda {
  width: 38%;
}

/* tabbox 크기조정 */
.estimate_selector_wrap .wrap.bananda ul li {
  float: left;
  width: 49.5%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #b6b6b6;
  border: 1px solid #b6b6b6;
}

/* warp margin */
.estimate_selector_wrap .wrap.bananda {
  margin-right: 4.6%;
}

/* 셀렉터 border값 없애고 마진값조정 */
.estimate_selector_wrap .bananda .box2 {
  border-left: 0px !important;
  margin-left: -0.6%;
}

/* --빈집 / 공실여부-- */
.estimate_selector_wrap .wrap.empty_house {
  width: 57%;
}

/* box 크기조정 */
.estimate_selector_wrap .wrap.empty_house ul li {
  float: left;
  width: 33.3%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #b6b6b6;
  border: 1px solid #b6b6b6;
}

/* warp margin */
.estimate_selector_wrap .wrap.place {
  margin-right: 4.6%;
}

/* 셀렉터 border값 없애고 마진값조정 */
.estimate_selector_wrap .empty_house .box2,
.estimate_selector_wrap .empty_house .box3 {
  border-left: 0px !important;
  margin-left: -0.1%;
}

/* --덧방여부-- */
/* warp 크기조정 */
.estimate_selector_wrap .wrap.add_floor {
  width: 38%;
}

/* box 크기조정 */
.estimate_selector_wrap .wrap.add_floor ul li {
  float: left;
  width: 49.5%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #b6b6b6;
  border: 1px solid #b6b6b6;
}

/* warp margin */
.estimate_selector_wrap .wrap.add_floor {
  margin-right: 4.6%;
}

/* 셀렉터 border값 없애고 마진값조정 */
.estimate_selector_wrap .add_floor .box2 {
  border-left: 0px !important;
  margin-left: -0.6%;
}

/* --시공범위 (마루, 데코타일 거실만시공)-- */
/* warp 크기조정 */
.estimate_selector_wrap .wrap.build_range {
  width: 38%;
}

/* box 크기조정 */
.estimate_selector_wrap .wrap.build_range ul li {
  float: left;
  width: 49.5%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #b6b6b6;
  border: 1px solid #b6b6b6;
}

/* warp margin */
.estimate_selector_wrap .wrap.build_range {
  margin-right: 4.6%;
}

/* 셀렉터 border값 없애고 마진값조정 */
.estimate_selector_wrap .build_range .box2 {
  border-left: 0px !important;
  margin-left: -0.3%;
}

/* --가구시공플랜-- */
.estimate_selector_wrap .wrap.furniture_plan {
  width: 38%;
}

/* box 크기조정 */
.estimate_selector_wrap .wrap.furniture_plan ul li {
  float: left;
  width: 49.5%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #b6b6b6;
  border: 1px solid #b6b6b6;
}

/* warp margin */
.estimate_selector_wrap .wrap.furniture_plan {
  margin-right: 4.6%;
}

/* 셀렉터 border값 없애고 마진값조정 */
.estimate_selector_wrap .furniture_plan .box2 {
  border-left: 0px !important;
  margin-left: -0.6%;
}

/* --가구시공면적구분-- */
/* .estimate_selector_wrap .furniture_area .form2 {
  margin-top: 5px;
  width: 50%;
} */

.estimate_selector_wrap.furniture .wrap.furniture_area {
  width: 38%;
}

.estimate_selector_wrap.furniture .wrap.furniture_area .form {
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #b6b6b6;
  border: 1px solid #b6b6b6;
  position: relative;
  border: 1px solid red;
  color: red;
  background-color: #ffffff;
}

.estimate_selector_wrap.furniture .wrap.furniture_area .form .area_list li {
  text-align: center;
}

/* --싱크대 면적구분-- */
.estimate_selector_wrap.sink .wrap.sink_area {
  width: 38%;
}

.estimate_selector_wrap.sink .wrap.sink_area .form {
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #b6b6b6;
  border: 1px solid #b6b6b6;
  position: relative;
  border: 1px solid red;
  color: red;
  background-color: #ffffff;
}

.estimate_selector_wrap.sink .wrap.sink_area .form .area_list li {
  text-align: center;
}

/* --화장실 면적구분-- */
.estimate_selector_wrap.toilet .wrap.toilet_area {
  width: 38%;
}

.estimate_selector_wrap.toilet .wrap.toilet_area .form {
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #b6b6b6;
  border: 1px solid #b6b6b6;
  position: relative;
  border: 1px solid red;
  color: red;
  background-color: #ffffff;
}

.estimate_selector_wrap.toilet .wrap.toilet_area .form .area_list li {
  text-align: center;
}

/* --믹스상품 공간구분-- */
.estimate_selector .mixsaleE .wrap.place {
  width: 38%;
}

.estimate_selector_wrap.mixsaleE .wrap.place ul li {
  float: left;
  width: 100%;
  height: 40px;
  text-align: center !important;
  line-height: 40px;
  color: #b6b6b6;
  border: 1px solid #b6b6b6;
}

/* --예상견적 확인하기-- */
.estimate {
  position: relative;
}

.estimate h1 {
  text-align: center;
  font-weight: 500;
}
.estimate h1 em {
  font-weight: 300;
}

.estimate > div {
  display: inline-block;
}

.estimate .consult_card .card {
  position: absolute;
  top: 70px;
}

.estimate .consult_card .card {
  text-align: center;
  background-color: #f6f9ff;
  width: 280px;
  height: 380px;
  padding: 100px 30px;
  box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
  font-size: 20px;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}
.estimate .consult_card .card .text {
  padding-top: 100px;
  font-size: 20px;
  font-weight: 500;
}

.estimate .consult_card .card:hover {
  background-color: #3f3fff;
  color: #ffffff;
}

/* 예상견적확인하기 면 할인이 가득가득 */
.mixsale {
  animation-name: mixsale;

  animation-duration: 0.75s;
  animation-delay: 0.7s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: both;
}

.mixsale h1 {
  text-align: left;
}
.mixsale h1 em {
}

@keyframes mixsale {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* --예상견적결과-- */
.estimate_result {
  animation-name: mixsale;
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: both;
}

.estimate_result h1 {
  font-size: 30px;
  font-weight: 300;
  text-align: left;
}

.estimate_result h1 em {
  font-weight: 500;
}
.estimate_result h1 > span {
  font-size: 16px;
  color: #9b9b9b;
  margin-left: 10px;
}

/* _wrap */
.estimate_result ul li {
  float: left;
  width: 24%;
  margin-right: 1.3%;
}

.estimate_result ul li:nth-child(4n + 0) {
  margin-right: 0;
}

.estimate_result .img {
  overflow: hidden;
}
.estimate_result .img img {
  display: block;
  transition: all 0.3s ease-in-out;
}

.estimate_result ul li:hover img {
  transform: scale(1.2);
}
.estimate_result .desc {
  padding: 15px;
}

.estimate_result .desc .tit {
  font-size: 18px;
  font-weight: 400;
}

.estimate_result .desc .sub_tit {
  font-size: 16px;
  color: #9b9b9b;
  font-weight: 400;
}

.estimate_result .desc .price {
  font-size: 20px;
  font-weight: 500;
}
.estimate_result .desc .add_price {
  font-size: 16px;
  font-weight: 400;
  color: #9b9b9b;
  text-decoration: line-through;
}
.estimate_result .desc .price .per {
  font-weight: 500;
  color: #ff4c42;
}

.estimate_result .desc .price .won {
  font-weight: 300;
}

/* --상담카드-- */
/* _호버 */
.consult_card {
  cursor: pointer;
}

.consult_card:hover .desc {
  background-color: #3f3fff;
  color: #ffffff;
}

.consult_card:hover .desc h3 {
  color: #ffffff;
}

.consult_card:hover .btn {
  background-color: #3f3fff;
  color: #ffffff;
}

/* _desc */
.consult_card > .desc {
  border-radius: 10px;
  width: 283.18px;
  height: 283.18px;
  box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
  text-align: center;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.consult_card > .desc > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.consult_card > .desc h3 {
  font-weight: 300;
  font-size: 20px;
  width: 100%;
}
/* _btn */
.consult_card > .btn {
  border-radius: 10px;
  margin: 0 auto;
  width: 70%;
  height: 60px;
  box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
  text-align: center;
  line-height: 60px;
  font-weight: 400;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
}

/* --함께하면 할인이 가득가득 텍스트 */
.estimate.mixsale h1 {
}

.estimate.mixsale h1 > div {
  display: inline;
  font-size: 16px;
  color: #9b9b9b;
  margin-left: 10px;
}
