.footer {
  padding: 70px 0;
}

.footer .col1 {
  width: 30%;
}
.footer .col2 {
  width: 30%;
}
.footer .col4 {
  width: 39%;
}

.footer > .col {
  text-align: left;
  display: inline-block;
}

.footer .col .tit {
  font-size: 20px;
  font-weight: 500;
}

.footer .col4 {
  color: #9b9b9b;
  font-size: 13px;
  text-align: right;
}

.footer .col1 .num {
  font-size: 30px;
  font-weight: 700;
}
