/* 레이아웃 */
.banner-index {
  /* display: none !important; */
}
.banner-index button {
  /* display: none !important; */
}
.banner-index > div > img {
  display: none;
}

.say {
}

/* 헤더 햄버거메뉴 */
.m_menu_icon {
  display: none;
}

/* 모바일 탭 메뉴 */
#m_tab_menu {
  display: none;
}

#estimate_selector .m_estimate_result {
  display: none;
}

/* 모바일 네비게이션 드로어 서브메뉴 */
.m_backgorund_black {
  display: none;
}

.m_nav {
  position: absolute;
  top: 0;
  left: -100%;
  display: none;
}

.m_nav_sub {
  display: none;
}

/* 견적결과 */
.m_estimate_selector_result {
  display: none;
}
/* 상담신청 */
#m_estimate_consult_request {
  overflow: hidden;
  margin-bottom: -10000%;
  display: none;
}
/* --견적신청확인완료 팝업-- */
#m_estimate_apply_sucess {
  display: none;
}

/* ------미디어쿼리 400px-------- */
@media (max-width: 500px) {
  /* 견적결과 */

  .banner-index {
    display: none !important;
  }

  .container {
    width: 100%;
  }

  .index_mixsale {
    display: none;
  }
  .row {
    padding: 0 20px;
  }

  /* ----------헤더---------- */

  #header_sub,
  .header_nav_left,
  .header_nav_right,
  #tab_menu,
  .slider {
    display: none;
  }

  #header {
    height: 55px;
  }

  /* 헤더로고 조정 */
  .header > .header_log {
    float: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
  }

  .header > .header_log > a {
    margin-right: 0;
    padding: 10px 10px 0px 10px;
  }

  /* _헤더 네비 아이콘 (햄버거메뉴) */
  .m_menu_icon {
    float: left;
    display: block;
  }

  .m_menu_icon img {
    width: 24px;
    height: 24px;
  }

  .m_menu_icon a {
    display: inline-block;
    padding: 17px 15px 8px 0;
  }

  .header > .header_tit {
    float: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    line-height: 55px;
    font-size: 18px;
  }

  .m_back {
    float: left;
    display: block;
  }

  .m_back button {
    background-color: #ffffff;
    padding: 15px 0;
  }
  .m_back img {
    width: 24px;
    height: 24px;
  }
  /* ----------네비게이션드로어------------ */
  .m_backgorund_black {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
  }

  .m_nav {
    position: fixed;
    width: 60%;
    height: 100%;
    background: #ffffff;
    z-index: 90;
    display: block;
    overflow-y: scroll;
  }

  .m_nav .wrap {
    width: 100%;
    border-bottom: 1px solid #e8e8ed;
    position: relative;
  }

  .m_nav .wrap img {
    position: absolute;
    top: 23px;
    right: 20px;
    width: 6px;
    height: 6px;
  }

  .m_nav .wrap a {
    font-size: 16px;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 100%;
    font-weight: 400;
    /* padding: 20px 50px 20px 20px; */
  }

  .m_nav .m_nav_sub > div {
    border-top: 1px solid #f2f2f2;
  }
  .m_nav .m_nav_sub > div > a {
    font-weight: 300;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 100%;
    /* padding: 20px 150px 20px 20px; */
  }

  /* ----------모바일 탭메뉴---------- */
  #m_tab_menu {
    background-color: #f6f9ff;
    display: block;
    padding: 20px 0;
  }

  .m_tab_menu h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
  }
  .m_tab_menu h2 {
    text-align: center;
    font-size: 13px;
    font-weight: 500;
  }

  /* --모바일 탭메뉴 col1-- */
  .m_tab_menu ul.col1 li {
    width: 31%;
    text-align: center;
    padding: 0px 0px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
    padding: 10px 0px;
    margin-right: 3.5%;
    float: left;
  }
  .m_tab_menu ul.col1 li:nth-of-type(3n + 0) {
    margin-right: 0;
  }

  .m_tab_menu ul.col1 li .tit {
    font-size: 13px;
    font-weight: 500;
  }
  .m_tab_menu ul.col1 li span {
    font-size: 11px;
    color: #9b9b9b;
  }

  /* --모바일 탭메뉴 col2-- */
  .m_tab_menu ul.col2 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
  }

  .m_tab_menu ul.col2 li {
    width: 24%;
    text-align: center;
    padding: 20px 0px;
    margin-right: 1.3%;
    float: left;
  }

  .m_tab_menu ul.col2 li:nth-of-type(3n + 0) {
    margin-right: 0;
  }

  .m_tab_menu ul.col2 li .tit {
    font-size: 13px;
    font-weight: 500;
  }

  .m_blank1 {
    width: calc(100% - 20px);
    height: 1px;
    background-color: #e8e8ed;
    clear: both;
    margin: 0 auto;
    /* height: 15px; */
  }

  /* ----------추천 시공사례----------- */
  #recommand_build_review h1 {
    font-size: 20px;
    text-align: left;
  }

  #recommand_build_review .swiper-container2 .swiper-slide .desc .tag {
    font-size: 13px;
    color: #9b9b9b;
  }

  #recommand_build_review .swiper-container2 .swiper-slide .desc .tit {
    font-size: 18px;
  }
  #recommand_build_review .swiper-container2 .swiper-slide .desc .sub_tit {
    font-size: 13px;
  }
  #recommand_build_review .swiper-container2 .swiper-slide .desc .price .num {
    font-size: 20px;
    font-weight: 500;
  }
  #recommand_build_review .swiper-container2 .swiper-slide .desc .price .won {
    font-size: 20px;
    font-weight: 300;
  }

  /* ----------믹스하면 할인이 가득가득---------- */
  /* --index-- */
  .mixsale.index h1 {
    font-size: 20px;
    text-align: left;
  }
  /* _더보기 */
  .mixsale.index h1 > span {
    font-size: 13px;
    padding-top: 6px;
  }
  .mixsale.index h1 > span a {
    color: #9b9b9b;
    font-weight: 400;
  }

  /* --공통-- */
  .mixsale ul li {
    width: 48.36%;
    float: left;
    margin-right: 3.2%;
  }

  .mixsale ul li img {
    display: block;
  }

  .mixsale ul li:nth-of-type(2n + 0) {
    margin-right: 0;
  }

  .mixsale ul li .desc {
    padding: 8px;
  }
  .mixsale ul li .desc .area {
    font-size: 10px;
  }
  .mixsale ul li .desc .tit {
    font-size: 13px;
  }
  .mixsale ul li .desc .sub_tit {
    font-size: 11px;
  }

  .mixsale ul li .desc .price {
    margin-top: -3px;
  }
  .mixsale ul li .desc .price .per {
    font-size: 15px;
    color: #ff4c42;
  }
  .mixsale ul li .desc .price .num {
    font-size: 15px;
  }
  .mixsale ul li .desc .price .won {
    font-size: 15px;
    font-weight: 300;
  }
  .mixsale ul li .desc .price .add_price {
    font-size: 13px;
    font-weight: 300;
  }

  /* ----------수치---------- */
  .numerical {
    padding: 20px !important;
  }
  .numerical div {
    font-size: 20px;
  }

  /* ----------따끈따끈 시공사례 ----------*/
  /* --인덱스-- */
  #build_review .index h1 {
    font-size: 20px;
    text-align: left;
  }
  #build_review .row {
    border-bottom: 1px solid #e8e8ed;
  }

  /* __더보기 */
  #build_review .index h1 > span {
    font-size: 13px;
    padding-top: 6px;
  }
  #build_review .index h1 > span a {
    color: #9b9b9b;
    font-weight: 400;
  }

  /* __시공사례 del */
  #build_review .index ul li:nth-of-type(2n + 0) {
    display: none;
  }

  /* --서브페이지-- */
  .build_review_selector {
    margin-top: 20px;
  }
  .build_review_selector .wrap {
    width: 100%;
  }

  .row .build_review.estimate {
    padding: 20px 0;
  }

  .build_review_selector .wrap .item {
    padding-left: 10px;
    font-size: 13px;
    width: 32%;
    margin-right: 1%;
  }
  .build_review_selector .wrap .item:nth-of-type(3) {
    margin-right: 0;
  }

  .build_review_selector .wrap .item img {
    right: 10px;
  }

  /* --공통-- */
  .build_review ul li {
    width: 100%;
    margin-bottom: 10px;
  }

  .build_review ul li .desc {
    padding: 8px;
  }

  .build_review ul li .desc .tag {
    font-size: 13px;
    color: #9b9b9b;
  }
  .build_review ul li .desc .tit {
    font-size: 18px;
  }

  .build_review ul li .price .num {
    font-size: 20px;
    font-weight: 500;
  }

  .build_review ul li .price .won {
    font-size: 20px;
    font-weight: 300;
  }

  /* ----------- 시공사례 디테일뷰 ----------- */
  /* --상세소개-- */
  .build_review_detailview .wrap {
    width: 100%;
  }

  .build_review_detailview .wrap > ul > li {
    float: none;
  }

  .build_review_detailview .wrap > ul > li.img {
    width: 100%;
  }

  .build_review_detailview .wrap > ul > li.col_list {
    width: 100%;
  }

  /* --공통-- */
  /* __border */
  .build_review_detailview .wrap > ul > li.col_list .col {
    border-top: 0.3px solid #e8e8ed;
  }

  /* __col 패딩값조절 */
  .build_review_detailview .wrap > ul > li.col_list .col {
    padding: 20px;
  }
  .build_review_detailview .wrap > ul > li.col_list .col:nth-of-type(1) {
    border-top: 0;
  }
  .build_review_detailview .wrap > ul > li.col_list .col3 > div.btn {
    border-top: 0;
  }

  /* --col1-- */
  .build_review_detailview .wrap > ul > li.col_list .col1 .tit {
    font-size: 18px;
  }
  .build_review_detailview .wrap > ul > li.col_list .col1 .price .num {
    font-size: 20px;
  }
  .build_review_detailview .wrap > ul > li.col_list .col1 .price .won {
    font-size: 20px;
    font-weight: 300;
  }

  /* --col2-- */
  .build_review_detailview .wrap > ul > li.col_list .col2 > div {
    margin-top: 10px;
  }
  .build_review_detailview .wrap > ul > li.col_list .col2 > div:nth-of-type(1) {
    margin-top: 0;
  }

  .build_review_detailview .wrap > ul > li.col_list .col2 p {
    width: 25%;
  }

  /* --col3-- */
  .build_review_detailview .wrap > ul > li.col_list .col3 p {
    width: 20%;
  }

  .build_review_detailview .wrap > ul > li.col_list .col3 ul {
    margin-top: 10px;
  }
  .build_review_detailview .wrap > ul > li.col_list .col3 ul li {
    width: 27.73vw;
    margin-right: 3.2vw;
  }

  .build_review_detailview
    .wrap
    > ul
    > li.col_list
    .col3
    ul
    li:nth-last-of-type(1) {
    margin-right: 0;
  }

  /* __가로스크롤 자재보기 */
  .build_review_detailview
    .wrap
    > ul
    > li.col_list
    .col3
    > div.scroll_track
    > ul {
    overflow-x: auto;
    white-space: nowrap;
  }

  .build_review_detailview
    .wrap
    > ul
    > li.col_list
    .col3
    > div.scroll_track
    > ul::-webkit-scrollbar {
    display: none;
  }

  .build_review_detailview
    .wrap
    > ul
    > li.col_list
    .col3
    > div.scroll_track
    > ul
    li {
    display: inline-block;
    float: none;
  }

  /* __버튼 */
  .build_review_detailview .wrap > ul > li.col_list .col3 > div.btn {
    padding: 0;
  }

  .build_review_detailview .wrap > ul > li.col_list .col3 > div.btn ul li {
    width: 48%;
    margin-right: 4%;
    font-size: 13px;
    line-height: 40px;
    height: 40px;
  }

  .build_review_detailview .wrap > ul > li.col_list .col3 > div.btn ul li.btn2 {
    margin-right: 0;
  }

  /* --사진영역-- */
  .build_review_detailview_img {
    width: 100%;
    padding: 20px 0;
  }

  .build_review_detailview_img img {
    margin-bottom: 0;
    width: 100% !important;
  }

  /* ----------자재구경---------- */
  /* --자재 드로어 탭 -- */
  .m_tab_menu_draw.materials {
    background-color: #f2f2f2;
  }

  .m_tab_menu_draw.materials ul::-webkit-scrollbar {
    display: none;
  }

  .m_tab_menu_draw.materials ul li {
    float: left;
    width: 20%;
    text-align: center;
  }
  .m_tab_menu_draw.materials ul li a {
    color: #111111;
    display: inline-block;
    padding: 15px 5px;
  }

  /* --인덱스-- */
  #index_materials_veiw {
    padding: 20px 0;
  }
  #index_materials_veiw h1 {
    text-align: left;
    font-size: 20px;
  }

  /* __더보기 */
  #index_materials_veiw h1 > span {
    font-size: 13px;
    padding-top: 6px;
  }
  #index_materials_veiw h1 > span a {
    color: #9b9b9b;
    font-weight: 400;
  }

  /* --서브메뉴-- */
  #materials_aside {
    display: none;
  }

  .materials_view_menu {
    display: none;
  }

  #materials_aside {
    display: none !important;
  }

  /* __모바일 자재구경셀렉터 */
  .m_cate_detail {
    display: block;
  }

  .m_cate_detail .wrap {
    float: none;
  }
  .m_cate_detail .wrap ul li:nth-last-of-type(1) {
    margin-right: 0px !important;
  }

  .materials_view_menu .cate_icon {
    display: none;
  }

  .m_cate_detail .wrap {
    width: 100%;
  }

  .m_cate_detail .type {
    width: 100% !important;
    cursor: pointer !important;
  }

  .m_cate_detail .brand {
    width: 100%;
    cursor: pointer;
  }

  .m_cate_detail .color {
    width: 100%;
    cursor: pointer;
  }

  .m_cate_detail .color ul li {
    padding: 0;
    width: 20%;
    margin-top: 10px;
  }

  .m_cate_detail {
    padding: 20px 0;
  }

  .m_cate_detail h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    position: relative;
  }

  .m_cate_detail h1 em {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }

  /* __화살표 */
  .m_cate_detail h1 img {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .materials_view_menu {
    box-shadow: none;
  }

  #materials_view_menu {
    display: none;
  }

  #m_cate_detail {
    background-color: #f6f9ff;
  }

  /* __mt */
  .m_cate_detail .m_wrap .type {
    margin-top: 20px;
  }
  .m_cate_detail .m_wrap .brand {
    margin-top: 20px;
  }
  .m_cate_detail .m_wrap .color {
    margin-top: 20px;
  }

  /* --공통 (자재)-- */
  .materials_veiw {
    padding: 20px 0;
  }

  .materials_veiw ul li {
    width: 48% !important;
    margin: 0 1% !important;
  }

  .materials_veiw ul li img {
    display: block;
  }

  .materials_veiw ul li:nth-of-type(2n + 0) {
    margin-right: 0 !important;
  }

  .materials_veiw ul li .desc {
    padding: 8px;
  }
  .materials_veiw ul li .desc .type {
    font-size: 15px;
  }
  .materials_veiw ul li .desc .brand {
    font-size: 10px;
    color: #9b9b9b;
    margin-left: 5px;
  }
  .materials_veiw ul li .desc .tit {
    font-weight: 300;
    font-size: 15px;
  }

  /* --자재 아이콘-- */
  .materials_veiw .icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .materials_veiw .icon span {
    margin-right: 3px;
    letter-spacing: 0;
    border-radius: 10px;
    font-size: 10px;
  }

  .materials_veiw .icon img {
    width: 8px;
    height: 8px;
  }

  /* _md추천 */
  .materials_veiw .icon .icon_md {
    padding: 1px 5px;
    background-color: #f77777;
    color: #ffffff;
    letter-spacing: 0;
    border-radius: 10px;
    font-size: 10px;
  }

  /* _가성비갑 */
  .materials_veiw .icon .icon_cheap {
    padding: 1px 5px;
    background-color: #0ad98c;
    color: #ffffff;
  }

  /* _믹스상품 */
  .materials_veiw .icon .icon_mix {
    padding: 1px 5px;
    background-color: #35c5f0;
    color: #ffffff;
  }

  /* --------자주하는 질문-------- */
  /* --인덱스-- */
  #index_question {
    padding: 20px 0;
  }

  #index_question h1 {
    font-size: 20px;
  }

  #index_question h1 em {
    font-size: 20px;
  }

  /* --공통-- */
  /* __카테고리 선택 */
  .question .topic {
    width: calc(100% - 100px);
    font-size: 13px;
    line-height: 45px;
  }
  .question .topic img {
    top: 20px;
  }
  .question .topic .topic_list {
    width: 100%;
  }

  .question .topic_form {
    height: 45px;
  }

  /* __faq */
  .question .topic .topic_list_section {
    width: calc(100% - 200px);
    color: red;
    background-color: red;
    padding: 0;
  }

  .question .tit {
    width: calc(100% - 20px) !important;
    font-size: 13px;
    margin: 0 auto;
    margin-top: 10px;
  }

  /* --서브페이지-- */
  /* __어사이드 */
  .faq_aside {
    padding: 20px;
  }

  .faq_aside .wrap div:nth-child(1) {
    font-size: 20px;
  }
  .faq_aside .wrap div:nth-child(2) {
    font-size: 13px;
  }

  /* ---------- 반장님모집 ----------- */
  /* --어사이드-- */
  .builder_recruit_aside {
    padding: 20px;
  }

  .builder_recruit_aside .wrap div:nth-child(1) {
    font-size: 20px;
  }

  .builder_recruit_aside .wrap div:nth-child(2) {
    font-size: 13px;
  }

  /* --input-- */
  .builder_recruit_input h1 {
    font-size: 20px;
  }

  .builder_recruit_input {
    padding: 20px 0;
  }
  /* __inputbox 꾸미기 */
  .builder_recruit_input .wrap .input_box input {
    border: 1px solid #e8e8ed;
    font-size: 13px;
    padding: 10px;
    margin-top: 10px;
  }

  .builder_recruit_input .wrap .input_box input:nth-of-type(1) {
    margin-top: 0;
  }

  /* __개인정보수집 및 더보기 */
  .builder_recruit_input .agree input[id="personal_data3"] + label::before {
    width: 10px;
    height: 10px;
  }

  .builder_recruit_input
    .agree
    input[id="personal_data3"]:checked
    + label::before {
    width: 10px;
    height: 10px;
  }

  .builder_recruit_input .agree input[id="personal_data3"] + label {
    font-size: 13px;
  }

  .builder_recruit_input .agree span {
    font-size: 13px;
  }

  /* __btn */
  .builder_recruit_input .btn {
    margin-top: 20px;
  }

  .builder_recruit_input .btn li {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    border: 1px solid #3f3fff;
    border-radius: 5px;
  }

  .builder_recruit_input .btn a {
    color: #3f3fff;
    padding: 10px 50px;
    display: inline-block;
    font-size: 13px;
  }

  /* ----------유저리뷰---------- */
  .user_review {
  }

  .user_review h1 {
    font-size: 20px;
    text-align: left;
  }

  .user_review.row {
    border-bottom: 1px solid #e8e8ed;
    padding-bottom: 20px;
  }

  .user_review .wrap .tit {
    font-size: 16px;
  }

  .user_review .wrap .desc {
    font-size: 13px;
  }

  .user_review .wrap .wrap2 {
    width: auto;
    height: auto;
  }
  .user_review .wrap .star {
    text-align: center;
  }
  .user_review .wrap .star img {
    width: 16px;
    height: 16px;
    display: inline-block;
  }

  /* ---------- 인테리어 꿀팁---------- */

  .index_interior_tip {
  }

  .index_interior_tip h1 {
    font-size: 20px;
    text-align: left;
  }

  /* __더보기 */
  .index_interior_tip h1 > a span {
    color: #9b9b9b;
    font-weight: 400;
    padding-top: 8px;
    font-size: 13px;
  }

  /* __꿀팁 아이템 */
  .index_interior_tip ul li {
    width: 48.36%;
    float: left;
    margin-right: 3.2%;
    margin-top: 0;
    font-size: 13px;
    margin-top: 10px;
  }

  .index_interior_tip ul li:nth-last-of-type(-n + 4) {
    display: none;
  }

  .index_interior_tip ul li:nth-of-type(5n + 0) {
    margin-right: 3.2%;
  }

  .index_interior_tip ul li:nth-of-type(2n + 0) {
    margin-right: 0 !important;
  }

  /* ---------- 대규모 수장공사 의뢰 ----------*/
  /* --인덱스-- */
  #big_bulid_consult {
    margin-top: 20px;
    height: 350px;
  }

  #index_bigBuild_consult {
    width: 100%;
    /* height: 350px; */
  }

  #index_bigBuild_consult h1 {
    font-size: 20px;
  }
  #index_bigBuild_consult h1 em {
    font-size: 20px;
  }

  /* --서브페이지-- */
  #bigBuild_consult h1 {
    font-size: 20px;
  }

  /* __어사이드 */
  .big_build_consult_aside {
    padding: 20px;
  }

  .big_build_consult_aside .wrap div:nth-child(1) {
    font-size: 20px;
  }
  .big_build_consult_aside .wrap div:nth-child(2) {
    font-size: 13px;
  }

  /* __대규모공사 상세이미지 */
  .test {
    width: 100%;
    padding: 20px 0;
  }

  /* --공통-- */
  /* __btn */
  .bigBuild_consult .btn ul li {
    height: 40px;
    line-height: 39px;
  }

  .bigBuild_consult .btn ul li.confirm_btn a {
    padding: 0;
    font-size: 13px;
  }

  .bigBuild_consult .btn ul li.btn2 a {
    font-size: 13px;
  }

  /* __input wrap */
  .bigBuild_consult {
    padding: 20px 0;
  }

  /* __개인정보동의 및 더보기 */
  .bigBuild_consult .input_box input {
    padding: 10px;
    font-size: 13px;
    border: 1px solid #e8e8ed;
  }
  .bigBuild_consult input[id="personal_data2"] + label {
    font-size: 13px;
  }

  .bigBuild_consult span {
    font-size: 13px;
  }

  .bigBuild_consult input[id="personal_data2"] + label::before {
    width: 10px;
    height: 10px;
    top: 4px;
  }
  .bigBuild_consult.index input[id="personal_data2"]:checked + label::before {
    width: 10px;
    height: 10px;
  }

  /* ----------푸터---------- */
  .footer {
    padding: 20px 0;
  }

  .footer > .col {
    display: block;
  }
  .footer > .col .desc.mt30 {
    margin-top: 15px;
  }

  .footer > .col1 {
    width: 100%;
  }
  .footer > .col2 {
    width: 100%;
    margin-top: 15px;
  }

  .footer .col4 {
    width: 100%;
    margin-top: 15px;
    text-align: left;
  }
  /* --푸터 견적부분시 none-- */
  .footer.estimate {
    display: none;
  }
  /* --푸터 자재부분시 none-- */
  .footer.materials {
    display: none;
  }

  /* ---------- 상담먼저 ---------- */
  .popUp_consultFirst {
    padding: 40px;
    width: calc(100% - 20px);
    border-radius: 5px;
    top: 30%;
    left: 3%;
  }

  .popUp_consultFirst .wrap h1 {
    font-size: 15px;
    /* margin-bottom: -10px; */
  }
  .popUp_consultFirst .wrap h1 em {
    font-size: 15px;
  }
  .popUp_consultFirst .wrap h2 {
    font-size: 15px;
  }

  .popUp_consultFirst img {
    width: 15px;
    top: -20px;
    right: -20px;
  }

  .popUp_consultFirst p {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 500;
    color: #3f3fff;
    text-align: center;
  }

  .popUp_consultFirst .wrap > input {
    font-size: 13px;
    margin-top: 20px;
    border: 1px solid #e8e8ed;
  }

  .popUp_consultFirst .wrap input[id="personal_data"] + label {
    font-size: 13px;
  }

  .popUp_consultFirst .wrap input[id="personal_data"] + label::before {
    width: 13px;
    height: 13px;
    top: 4px;
  }

  .popUp_consultFirst .wrap input[id="personal_data"]:checked + label::before {
    width: 13px;
    height: 13px;
  }

  .popUp_consultFirst .agree {
    margin-top: 20px;
  }

  .popUp_consultFirst .wrap .confirm_btn {
    margin-top: 20px;
    font-size: 13px;
  }

  /* ---------- 개인정보처리방침 ---------- */
  .popUp_personal_data {
    padding: 40px;
    width: calc(100% - 20px);
    border-radius: 5px;
  }

  .popUp_personal_data .wrap h1 {
    font-size: 20px;
    color: #111111;
  }

  .popUp_personal_data img {
    width: 15px;
    top: -20px;
    right: -20px;
  }

  /* ---------- 고객센터 ---------- */
  .customer_center {
    padding: 20px 0;
  }

  .customer_center h1 {
    font-size: 20px;
    font-weight: 300;
  }

  .customer_center h2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
  }
  .customer_center .img {
    margin-top: 10px;
  }

  .customer_center img {
    height: 120px;
  }
  .customer_center .desc {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
  }

  /* ----------견적드로어 탭 (메뉴)---------- */
  #m_tab_menu_draw {
    display: block;
  }

  .m_tab_menu_draw.estimate ul::-webkit-scrollbar {
    display: none;
  }

  .m_tab_menu_draw.estimate {
    background-color: #f2f2f2;
  }

  .m_tab_menu_draw.estimate ul {
    overflow: auto;
    white-space: nowrap;
  }

  .m_tab_menu_draw.estimate ul li {
    text-align: center;
    display: inline-block;
  }
  .m_tab_menu_draw.estimate ul li a {
    color: #111111;
    display: inline-block;
    padding: 15px 13px;
  }

  /* ----------견적셀렉터----------- */
  /* --기타-- */
  /* __필름 addtext */
  .estimate_selector .wrap .add_text {
    position: absolute;
    top: 0;
    left: 60px;
  }
  /* __싱크대 addtext */
  .estimate_selector .wrap .add_text {
    position: absolute;
    top: 0;
    left: 60px;
    width: 300px;
  }

  /* --blank 삭제-- */
  /* .m_blank20.a {
    display: none;
  } */

  /* --견적결과버튼-- */
  .estimate_selector .m_btn {
    margin-top: 20px;
    background-color: #3f3fff;
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    padding: 15px;
    display: block !important;
  }

  #estimate_aside {
    display: none;
  }
  #estimate_selector {
    background-color: #f6f9ff;
    margin-top: 0;
  }
  .estimate_selector {
    padding: 30px 0;
  }

  #estimate_selector h1 {
    font-size: 20px;
    position: relative;
  }

  #estimate_selector h2 {
    display: none;
  }

  .m_estimate_selector_box .wrap {
    margin-top: 10px;
  }

  /* --화살표-- */
  .estimate_selector_wrap .m_arrow {
    position: absolute;
    /* display: none; */
    top: 10px;
    right: 20px;
  }

  .estimate_selector_wrap {
    border: 0 !important;
    padding: 0;
    box-shadow: none;
    background-color: #f6f9ff;
  }
  .estimate_selector_wrap .wrap {
    float: none;
  }
  /* --셀렉터 div */
  /* __공간구분*/
  .estimate_selector_wrap .wrap.place {
    width: 100%;
  }

  /* __공간구분 (장판) */
  .estimate_selector_wrap.linoleum .wrap.place {
    width: 100%;
  }
  /* __공간구분 (믹스상품) */
  .estimate_selector_wrap.mixsaleE .wrap.place {
    width: 100%;
  }
  /* __공강구분 -> 상업공간 클릭시 span (마루, 데코타일) */
  .estimate_selector_wrap.floor .wrap.area span {
    font-size: 13px;
    color: red;
    font-weight: 500;
    position: absolute !important;
    top: 0px;
    left: 60px;
    display: none;
  }

  /* __면적구분 */
  .estimate_selector_wrap .wrap.area {
    width: 100%;
  }

  /* __면적구분 */
  .estimate_selector_wrap .wrap.area .form li {
    width: 49% !important;
  }
  .estimate_selector_wrap .wrap.area .form2 {
    width: 48%;
  }
  .estimate_selector_wrap .wrap.area .form3 {
    width: 48%;
  }
  .estimate_selector_wrap.sink .wrap.sink_area {
    width: 100%;
  }
  .estimate_selector_wrap.furniture .wrap.furniture_area {
    width: 100%;
  }
  .estimate_selector_wrap.toilet .wrap.toilet_area {
    width: 100%;
  }

  /* __배다란다확장여부 */
  .estimate_selector_wrap .wrap.bananda {
    width: 100%;
  }

  /* __빈집공실여부 */
  .estimate_selector_wrap .wrap.empty_house {
    width: 100%;
  }

  .estimate_selector_wrap .wrap.empty_house em {
    display: none;
  }
  /* __덧방여부 */
  .estimate_selector_wrap .wrap.add_floor {
    width: 100%;
  }
  /* __시공범위 */
  .estimate_selector_wrap .wrap.build_range {
    width: 100%;
  }

  /* __플랜구분 (가구) */
  .estimate_selector_wrap .wrap.furniture_plan {
    width: 100%;
  }

  /* ----------견적결과---------- */

  /* --견적결과 추가인건비(알파)-- */
  .estimate_result .desc .add_price {
    font-size: 13px;
  }

  /* --상담카드삭제-- */
  .consult_card {
    display: none;
  }

  .estimate_result .m_btn {
    display: block !important;
    font-size: 13px;
  }

  /* --견적결과 hide-- */
  .estimate_result {
    display: none;
  }

  /* --예상견적결과산출-- */
  /* __블랭크삭제  : (중간에 블랭크heghit값이 먹어져 있음)*/
  .estimate_result .blank30 {
    display: none;
  }

  .estimate_result {
    padding-top: 20px;
  }

  .estimate_result h1 {
    font-size: 20px;
  }

  .estimate_result h1 span {
    font-size: 13px;
    display: block;
    margin-left: 0;
  }

  .estimate_result ul li {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    border-bottom: 1px solid #e8e8ed;
  }
  .estimate_result ul li:nth-last-of-type(-n + 2) {
    border: 0;
  }

  .estimate_result ul li:nth-last-of-type(-n + 2) {
    /* border: 0; */
    /* : 상담카드 li가 있으므로 +2 부터 지워야한다 */
  }

  .estimate_result ul li .img {
    width: 30%;
    float: left;
    margin-right: 5%;
  }
  .estimate_result ul li .desc {
    width: 65%;
    float: left;
    padding: 0;
  }
  .estimate_result ul li .desc .sub_tit {
    font-size: 13px;
  }

  /* __상담신청버튼 btn */
  .estimate_result .m_btn {
    background-color: #e8e6ff;
    width: 50%;
    padding: 5px;
    text-align: center;
    color: #111111;
  }

  /* ----------견적 믹스상품---------*/

  /* --믹스상품 hide-- */
  .mixsale.estimate {
    display: none;
  }

  /* --믹스상품-- */
  .mixsale.estimate {
    padding: 20px 0;
    /* border-bottom: 1px solid #e8e8ed; */
  }

  .mixsale.estimate h1 {
    font-size: 20px;
  }
  .mixsale.estimate h1 div {
    font-size: 13px;
    display: block;
    margin-left: 0;
  }

  .mixsale.estimate .blank30 {
    display: none;
  }
  .mixsale.estimate ul {
    margin-top: 20px;
  }

  /* --견적 믹스상품 자재보기-- */
  /* _자재보기 hide */

  .mixsale_materials.estimate {
    display: none;
  }

  /* _패딩조절 */
  .mixsale_materials.estimate {
    padding: 20px 0;
  }
  .mixsale_materials.estimate .materials_veiw {
    padding: 0;
  }

  .mixsale_materials.estimate > h1 {
    font-size: 20px;
  }
  .mixsale_materials.estimate > h1 span {
    font-size: 13px;
  }
  .mixsale_materials > .tab {
    width: 100%;
  }

  .mixsale_materials > .tab ul li {
    font-size: 15px;
  }

  .mixsale_materials.estimate .materials_veiw ul {
    width: 100%;
  }

  .mixsale_materials.estimate .materials_veiw > ul li {
    width: 48% !important;
    margin: 0 1% !important;
  }

  /* ----------맨위로 올라가기(go_top)----------- */
  .go_top {
    right: 10px;
  }

  /* ---------- 페이지네이션 ---------- */
  .pagination {
    margin-bottom: 30px !important;
  }

  .pagination ul {
    /* width: 100%; */
    /* padding: 40px 0; */
  }

  .pagination ul li {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }

  /* .pagination ul li:nth-of-type(1) a {
    padding-left: 0;
  } */
  /* .pagination ul li:nth-last-of-type(1) a {
    padding-right: 0;
  } */

  /* 상담카드*/
  .estimate .consult_card .card {
    display: none;
  }

  /* --마진 , 블랭크 취소-- */
  .mt30 {
    margin-top: 15px !important;
  }
}
