/* --백그라운드-- */
html {
  position: relative;
}

/* --백그라운드 블랙-- */
.backgorund_black {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 80;
}

.estimate_result {
  min-height: 100%;
}

/* --추천시공사례-- */
.index_recommend_review {
  overflow: hidden;
}

.index_recommend_review h1 {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
}

.index_recommend_review h1 em {
  font-weight: 500;
}

.index_recommend_review .wrap .img img {
  width: 380px;
  height: 253px;
  transition: all 0.3s ease-in-out;
}

.index_recommend_review .wrap .desc {
  padding: 15px;
}

.index_recommend_review .wrap .desc .tag {
  font-size: 14px;
  font-weight: 500;
  color: #9b9b9b;
}

.index_recommend_review .wrap .desc .tit {
  font-size: 18px;
}

.index_recommend_review .wrap .desc .price {
  font-size: 20px;
  font-weight: 500;
}

.index_recommend_review .wrap .desc .price span {
  font-weight: 300;
}
.index_recommend_review .img {
  overflow: hidden;
  width: 380px;
  height: 253px;
}

.index_recommend_review .wrap .img {
  overflow: hidden;
}

.index_recommend_review .wrap .img:hover img {
  transform: scale(1.2);
}

/* --함께하면 할인이 가득가득-- */
#estimate_selector {
  z-index: 100;
}

.m_estimate_selector_box .area_list {
  color: red !important;
  /* z-index: ; */
}

/* --함께하면 할인이 가득가득 */
.mixsale.estimate h1 {
  text-align: left;
}

#mixsale h1 {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
}

#mixsale h1 em {
  font-weight: 500;
}

#mixsale h1 > span {
  float: right;
  font-size: 16px;
  padding-top: 13px;
}

#index_mixsale {
  z-index: -1 !important;
}

.mixsale ul li {
  float: left;
  width: 24%;
  margin-right: 1.3%;
}

.mixsale ul li:nth-child(4n + 0) {
  margin-right: 0;
}

.mixsale ul li img {
  display: block;
  transition: all 0.3s ease-in-out;
}

.mixsale ul li:hover img {
  transform: scale(1.2);
}

.mixsale ul li .img {
  overflow: hidden !important;
}

.mixsale .desc {
  padding: 15px;
}
.mixsale .desc .area {
  font-size: 13px;
  font-weight: 500;
}

.mixsale .desc .tit {
  font-size: 18px;
}
.mixsale .desc .sub_tit {
  font-size: 13px;
  color: #9b9b9b;
}
.mixsale .desc .price {
  font-size: 20px;
  font-weight: 500;
}
.mixsale .desc .price .per {
  font-weight: 500;
  color: #3f3fff;
}

.mixsale .desc .price .won {
  font-weight: 300;
}

/* --수치-- */
.numerical {
  padding: 50px 0px;
}

.numerical > div {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
}

.numerical > div > em {
  font-weight: 500;
  color: #3f3fff;
}

/* 애니메이션 */
.numerical > div.a {
  animation-duration: 0.55s;
  animation-delay: 0.15s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: both;
  animation-name: numerical;
}
.numerical > div.b {
  animation-duration: 0.55s;
  animation-delay: 0.35s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: both;
  animation-name: numerical;
}

.numerical > div.c {
  animation-duration: 0.55s;
  animation-delay: 0.65s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: both;
  animation-name: numerical;
}

@keyframes numerical {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* --따끈따끈 시공사례-- */
.index_build_review h1 {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
}

.index_build_review h1 > em {
  font-weight: 500;
}
.build_review > .wrap {
  display: inline-block;
  width: 32%;
  margin-right: 1.4%;
  overflow: hidden;
}
/* : item을 감싸고 있는 애들한테 %으로 준다. 그 후 이미지를 감싸고 있는
애들한테는 절대값을 준뒤 overflow : hidden을 주어, scale시 넘치지 
않게 하면서도 반응형시 100%로 채울 수 있게 한다. */

.build_review > .item3 {
  margin-right: 0;
}
.build_review > .item6 {
  margin-right: 0;
}

.build_review .wrap .img img {
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.build_review .wrap .desc {
  padding: 15px;
}

.build_review .wrap .desc .tag {
  font-size: 13px;
  font-weight: 500;
}

.build_review .wrap .desc .tit {
  font-size: 18px;
}

.build_review .wrap .desc .price {
  font-size: 20px;
  font-weight: 500;
}

.build_review .wrap .desc .price span {
  font-weight: 400;
}

.build_review .wrap .img {
  overflow: hidden;
  width: 380px;
  height: 250px;
}

.build_review .wrap .img:hover img {
  transform: scale(1.2);
}

/* --자주묻는질문-- */
#index_question h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}

#index_question h1 em {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.question {
  /* padding: 50px; */
  margin: 0 auto;
}

.question .topic {
  border: 1px solid #3f3fff;
  width: 380px;
  margin: 0 auto;
  line-height: 60px;
  text-align: center;
  color: #3f3fff;
  margin-bottom: 30px;
  position: relative;
  background-color: #ffffff;
  cursor: pointer;
}

.topic_form {
  position: relative;
}
.question .topic_list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 380px;
  background-color: #ffffff;
  z-index: 10;
  border: 1px solid #3f3fff;
}

.topic img {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 20px;
  top: 30px;
}

.question .topicList > div {
  padding: 10px;
}
.question .topic_list > div:hover {
  color: #ffffff;
  background-color: #3f3fff;
}

/* 섹션css */
.question .tit {
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  width: 590px;
  margin: 0px auto;
  padding: 20px;
  box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
  margin-top: 10px;
  background-color: #ffffff;
}
.question .tit img {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 20px;
  top: 30px;
}

.question .tit .desc {
  color: #666666;
  font-weight: 300;
  display: none;
}

.topic_list {
  display: none;
}
.topic_list_section2 {
  display: none;
}

/* --고객님들의 감동시공후기-- */
.user_review {
  overflow: hidden;
  width: 100%;
}
.swiper-container3 {
}
.user_review .wrap {
  /* border: 1px solid #f7f7f7;
  box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
  height: 320px; */
  /* margin-bottom: 5px; */
}

.user_review h1 {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
}

.user_review h1 em {
  font-weight: 500;
}
.user_review .wrap .tit {
  text-align: center;
  font-size: 20px;
}

.user_review .wrap .star {
}

.user_review .wrap .desc {
  font-weight: 300;
}

.user_review .star {
  text-align: center;
}
.user_review .star img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.wrap2 {
  width: 230px;
  height: 320px;
  border: 1px solid #f2f2f2;
  padding: 20px;
  margin-bottom: 5px;
}

/* --인테리어 꿀팁-- */
.index_interior_tip h1 {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
}

.index_interior_tip h1 em {
  font-weight: 500;
}

.index_interior_tip > .tip {
  display: inline-block;
  /* margin-right: 7px; */
  width: 19%;
  margin-right: 1%;
}

.index_interior_tip > .tip5 {
  margin-right: 0;
}

.index_interior_tip > .tip10 {
  margin-right: 0;
  margin-top: 3px;
}
.index_interior_tip .img {
  /* width: 228px;
  height: 228px; */
  overflow: hidden;
  position: relative;
  display: block;
}

.index_interior_tip .img img {
  width: 228px;
  height: 228px;
}

.black_cover {
  width: 228px;
  height: 228px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  padding-top: 70px;
  text-align: center;
  font-size: 20px;
}

/* --상담먼저 팝업-- */
.popUp_consultFirst h1 br {
  display: none;
}

#popUp_consultFirst {
  display: none;
}

.popUp_consultFirst img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -60px;
  right: -120px;
  cursor: pointer;
}

.popUp_consultFirst {
  padding: 100px 150px;
  z-index: 100;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: #ffffff;
  border-radius: 30px;
}

.popUp_consultFirst .wrap {
  position: relative;
}

.popUp_consultFirst .wrap h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

.popUp_consultFirst .wrap h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
}

.popUp_consultFirst .wrap h1 em {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

.popUp_consultFirst .wrap > input {
  width: 100%;
  padding: 10px;
}

.popUp_consultFirst .wrap input[id="personal_data"] {
  display: none;
}
.popUp_consultFirst .wrap input[id="personal_data"] + label {
  font-size: 13px;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.popUp_consultFirst .wrap input[id="personal_data"] + label::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0px;
  border: 1px solid #999999;
}

.popUp_consultFirst .wrap input[id="personal_data"]:checked + label::before {
  background-color: #111111;
  width: 16px;
  height: 16px;
}

/* 더보기 */
.popUp_consultFirst .wrap .agree span {
  float: right;
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
}

/* 확인하기 */
.popUp_consultFirst .wrap .confirm_btn {
  background-color: #3f3fff;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* --개인정보수집동의-- */
#popUp_personal_data {
  display: none;
}

.popUp_personal_data .wrap {
  position: relative;
}

.popUp_personal_data .wrap h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

.popUp_personal_data .wrap h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
}

.popUp_personal_data .wrap h1 em {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

.popUp_personal_data .wrap .desc {
  height: 300px;
  overflow: auto;
}

.popUp_personal_data img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -60px;
  right: -120px;
  cursor: pointer;
}

.popUp_personal_data {
  padding: 100px 150px;
  z-index: 100;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: #ffffff;
  border-radius: 30px;
}

/* --고객센터-- */
.customer_center h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
}

.customer_center h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin-top: -10px;
  letter-spacing: -3px;
}
.customer_center .img {
  width: 140px;
  margin: 0 auto;
}

.customer_center .desc {
  text-align: center;
  font-size: 25px;
}

/* _자재구경  */
.customer_center h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 40px;
}

/* --예상견적확인-- */
