/* --레이아웃-- */
#header_sub {
  background-color: #f7f7f7;
  height: 40px;
}

#header {
  height: 80px;
  background-color: #ffffff;
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 30;
  top: 0;
  left: 0;
  box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
}

#m_tab_menu_draw {
  display: none;
}

#numerical {
  background-color: #f6f9ff;
}

#index_question {
  background-color: #f6f9ff;
}

#index_bigBuild_consult {
  /* background: url(/img/bigbuild_consult.png) center center; */
  background: url(/img/bigbuild_consult.jpg) no-repeat center center;
  background-size: cover;
}
#estimate_aside {
  height: 450px;
  background: url(/img/estimate_aside.jpg) no-repeat top;
  background-size: cover;
  /* background-color: #3f3fff; */
}

#materials_aside {
  height: 450px;
  background: url(/img/materials_aside.jpg) center no-repeat;
  background-size: cover;
}

#big_build_consult_aside {
  background-color: #3f3fff;
}

#faq_aside {
  background-color: #3f3fff;
}

#builder_recruit_aside {
  background-color: #3f3fff;
}

#estimate_selector {
  margin-top: -35px;
}

/* --컨테이너-- */
.container {
  margin: 0 auto;
  width: 1180px;
  height: inherit;
}

/* --공통클래스-- */
.display_none {
  display: none !important;
}

/* --비디오 배경화면-- */
body {
  position: relative;
}

/* #video_bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  background-size: cover;
}

#video_bg video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  background-size: cover;
} */

#header {
  position: relative;
}

/* #video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
} */
.section-intro-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/section-intro-bg.png) no-repeat;
  background-size: cover;
  z-index: -100;
}
