/* --레이아웃-- */
#header_sub {
  background-color: #f7f7f7;
  height: 40px;
}

#header {
  height: 60px;
}

#numerical {
  background-color: #f6f9ff;
}

#index_question {
  background-color: #f6f9ff;
}
#big_bulid_consult {
  background-color: #3f3fff;
  height: 600px;
}

#footer {
  background-color: #f6f9ff;
}

/* --컨테이너-- */
.container {
  margin: 0 auto;
  width: 1180px;
  height: inherit;
}
