/* --레이아웃-- */
#header_sub {
  background-color: #f7f7f7;
  height: 40px;
}

#header {
  height: 80px;
  background-color: #ffffff;
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 30;
  top: 0;
  left: 0;
  box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
}

#m_tab_menu_draw {
  display: none;
}

#numerical {
  background-color: #f6f9ff;
}

#index_question {
  background-color: #f6f9ff;
}
#bigBuild_consult {
  background: url(/img/bigbuild_consult.png) center center;
}
#estimate_aside {
  height: 350px;
  background-color: #3f3fff;
}

#materials_aside {
  height: 350px;
  background-color: #3f3fff;
}

#builder_recruit {
  /* background-color: #3f3fff; */
  background: url(/img/bigbuild_consult.png) center center;
  height: 350px;
}

#estimate_selector {
  margin-top: -35px;
}

/* --컨테이너-- */
.container {
  margin: 0 auto;
  width: 1180px;
  height: inherit;
}

/* --공통클래스-- */
.display_none {
  display: none !important;
}
