#tab_menu {
  z-index: 100 !important;
}

.tab_menu {
  height: 130px;
  box-shadow: rgba(27, 29, 31, 0.12) 0px 2px 10px;
  z-index: 10 !important;
  margin-top: -65px;
  background-color: #ffffff;
  border-radius: 10px;
}
/* 
  : 스와이퍼 z-index : -1이므로, 반응형에서는 바꿔줘야한다.
*/

.tab_menu .wrap {
  display: inline-block;
  width: 10.9%;
  text-align: center;
  z-index: 10;
}

.tab_menu .wrap a {
  display: inline-block;
  padding: 35px;
}

.tab_menu .icImg img {
  width: 32px;
  height: 32px;
}

.tab_menu .wrap a:hover .icImg {
  transform: translateY(-10px);
  /* transition: 1s; */
  transition: all 0.3s ease-in-out;
}

.tab_menu .icText {
  font-size: 15px;
}

.tab_menu .wrap a:hover .icText {
  color: #3f3fff;
}

/* --아이콘-- */

.wrap {
  position: relative;
}

.icon_sale {
  bottom: 15px;
  left: 50px;
  position: absolute;
  padding: 1px 5px;
  background-color: #ff1493;
  color: #ffffff;
  letter-spacing: 0;
  border-radius: 10px;
  font-size: 8px;
}
